<li><a href="{{ path('warp_page_content_modify', {'id': id}) }}"><i class="material-icons left">edit</i>Редактировать контент</a></li>
<li><a href="{{ path('warp_page_modify', {'id': id}) }}"><i class="material-icons left">build</i>Изменить настройки</a></li>
<li class="divider"></li>
{{ include('@Warp12/Page/dropmenu_top.html.twig') }}
