.collection {
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
}
.collection.warp12pages_list {
    overflow: visible;
}
.collection.warp12pages_list li, .collection.warp12pages_list .collection-item.avatar {
    min-height: 0px;
}